.checkout {
  display: flex;
  padding: 20px;
  align-items: space-between;
  flex-direction: column;
  background-color: #f8f6f4;

  .billingDetails {
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
      width: 70%;
      padding: 50px;

      h3{
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
      }
    }
    .order {
      width: 40%;
      height: 100%;
      border: 1px solid #ddd;
      display: flex;
      align-items: space-between;
      flex-direction: column;
      align-self: flex-start;
      gap: 20px;
      padding: 20px 20px;
      font-size: 17px;
      

      table {
        color: #3b3b3b;

        .product {
          padding-right: 300px;
        }

        .subtotal {
            align-self: flex-end;
        }

        td {
          padding: 10px 0;
        }

        .subTr{
            text-align: right;
        }
      }
      .total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120%;
        padding: 20px 0;
        
        h2{
            align-self: flex-end;
            font-family: 'Open Sans',sans-serif;
            font-weight: 100;
        }
        h3{
            font-size: 25px;
        }

      }
      Button{
        width: 100%;
        margin-top: 20px ;
        
    }
    }
  }
}
